.u-section-1 .u-sheet-1 {
  min-height: 123px;
}

.u-section-1 .u-image-1 {
  width: 40px;
  height: 40px;
  margin: 33px 9px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -49px 918px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  --text-color-var: #eb9a18;
  margin: -40px 118px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -30px 290px 0 742px;
}

.u-section-1 .u-btn-2 {
  font-weight: 400;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -29px 446px 0 608px;
}

.u-section-1 .u-btn-3 {
  font-weight: 400;
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 56px;
  height: 56px;
  margin: -48px auto 45px 181px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -54px;
    margin-right: 718px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -39px;
    margin-right: 88px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -29px;
    margin-right: 249px;
    margin-left: 583px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -33px;
    margin-right: 384px;
    margin-left: 470px;
  }

  .u-section-1 .u-image-2 {
    width: 59px;
    height: 59px;
    margin-top: -44px;
    margin-bottom: 33px;
    margin-left: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 53px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 498px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 79px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 234px;
    margin-left: 378px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -29px;
    margin-right: 360px;
    margin-left: 274px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -43px;
    margin-bottom: 31px;
    margin-left: 175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 358px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -37px;
    margin-right: 78px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 172px;
    margin-left: 276px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 244px;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 1px;
  }

  .u-section-1 .u-image-2 {
    width: 29px;
    height: 29px;
    margin-top: -21px;
    margin-bottom: 58px;
    margin-left: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-1 .u-image-1 {
    width: 29px;
    height: 29px;
    margin-top: 81px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -88px;
    margin-right: 181px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 20px;
    margin-right: 32px;
    margin-left: 218px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -51px;
    margin-right: 254px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 32px;
    height: 32px;
    margin-top: -65px;
    margin-bottom: 60px;
    margin-left: 95px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-3 {
  border-color: transparent !important;
}.u-section-2 .u-sheet-1 {
  min-height: 219px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 55px 86px 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 17px auto 55px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 32px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 27px 0 26px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/reparacion-de-calderas-y-calentadores1.webp');
}

.u-section-3 .u-sheet-1 {
  min-height: 411px;
}

.u-section-3 .u-list-1 {
  margin: 0 0 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 317px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  --gap: 10px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 47px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 34px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 47px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  margin: 34px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 47px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-6 {
  font-size: 3.75rem;
  margin: 34px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 53px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 282px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 0 30px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 48px;
    margin-right: 33px;
    margin-left: -14px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 46px;
    margin-left: 109px;
  }

  .u-section-3 .u-text-2 {
    filter: none;
    width: auto;
    margin-top: -8px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0 0 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 48px;
    margin-right: 33px;
    margin-left: -14px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 46px;
    margin-left: 109px;
  }

  .u-section-3 .u-text-4 {
    filter: none;
    width: auto;
    margin-top: -8px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 0 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 48px;
    margin-right: 33px;
    margin-left: -14px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 46px;
    margin-left: 109px;
  }

  .u-section-3 .u-text-6 {
    filter: none;
    width: auto;
    margin-top: -8px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 736px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 41px;
    margin-right: 17px;
    margin-left: 2px;
  }

  .u-section-3 .u-icon-1 {
    width: 79px;
    height: 79px;
    margin-top: 10px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-2 {
    margin: 31px 0 -46px 19px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 41px;
    margin-right: 17px;
    margin-left: 2px;
  }

  .u-section-3 .u-icon-2 {
    width: 79px;
    height: 79px;
    margin-top: 10px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-4 {
    margin: 31px 0 -46px 19px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 41px;
    margin-right: 17px;
    margin-left: 2px;
  }

  .u-section-3 .u-icon-3 {
    width: 79px;
    height: 79px;
    margin-top: 10px;
    margin-left: 313px;
  }

  .u-section-3 .u-text-6 {
    margin: 31px 0 -46px 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 59px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 744px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 27px 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    width: 74px;
    height: 74px;
    margin-top: 18px;
    margin-right: 218px;
    margin-left: 235px;
    padding: 15px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 27px 9px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    width: 74px;
    height: 74px;
    margin-top: 18px;
    margin-right: 218px;
    margin-left: 235px;
    padding: 15px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 27px 9px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    width: 74px;
    height: 74px;
    margin-top: 18px;
    margin-right: 218px;
    margin-left: 235px;
    padding: 15px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 714px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 22px;
  }

  .u-section-3 .u-icon-1 {
    width: 79px;
    height: 79px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 14px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 22px;
  }

  .u-section-3 .u-icon-2 {
    width: 79px;
    height: 79px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 14px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 22px;
  }

  .u-section-3 .u-icon-3 {
    width: 79px;
    height: 79px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    margin-top: 14px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 230px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 14px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 18px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0 16px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 230px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 14px;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 18px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 30px auto 0 16px;
}

.u-section-4 .u-layout-wrap-3 {
  margin-top: 42px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 230px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 14px;
}

.u-section-4 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 18px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 35px auto 0 15px;
}

.u-section-4 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 84px auto 60px;
  padding: 12px 30px 12px 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-4 .u-layout-wrap-3 {
    margin-top: -31px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: -8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-4 .u-layout-wrap-3 {
    margin-top: -15px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 50px;
    margin-right: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1250px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 57px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 348px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 18px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 18px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-layout-wrap-3 {
    margin-top: -105px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 18px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 81px;
    margin-right: auto;
    margin-bottom: 57px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 164px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 741px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-3 {
    margin-top: -348px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -794px;
    margin-bottom: 60px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 34px 1px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 59px 15px 0;
}

.u-section-5 .u-gallery-1 {
  height: 114px;
  width: 835px;
  margin: 43px auto 0;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: -25px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  --gap: 0px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 1.25;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-1 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 1.25;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-2 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
  transition-duration: 4s;
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-3 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-4 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-5 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-6 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-6 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-7 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-7 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-8 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-8 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-9 {
  margin-right: 0;
  transition-duration: 4s;
  --effect-scale: 1.25;
}

.u-section-5 .u-back-slide-9 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-10 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-5 .u-back-slide-10 {
  transition-duration: 3s;
}

.u-section-5 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 71px 15px 0;
}

.u-section-5 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 81px auto 60px;
  padding: 12px 30px 12px 29px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 53px;
  }

  .u-section-5 .u-carousel-item-1 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-2 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-3 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-4 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-5 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-6 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-7 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-8 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-9 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-item-10 {
    margin-right: initial;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 78px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 74px;
    margin-bottom: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 80px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 50px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 111px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-top: 80px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 59px;
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 49px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 50px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-5 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 101px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 47px;
    margin-bottom: 59px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 355px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 51px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 254px;
}

.u-section-6 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px 30px 25px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 11px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 33px;
  height: 33px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -36px 11px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 350px;
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: -4px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -32px;
    margin-right: 312px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 40px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 23px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 26px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -35px;
    margin-right: 92px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 14px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -33px;
    margin-right: 30px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 23px;
  }
}

.u-section-6 .u-icon-1,
.u-section-6 .u-icon-1:before,
.u-section-6 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 564px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 36px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 48px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 397px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 24px 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 10px auto 0 128px;
}

.u-section-7 .u-text-2 {
  margin: 20px 12px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0 56px;
  padding: 17px 49px 17px 47px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  width: auto;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 397px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 56px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 119px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 40px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 102px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 14px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-7 .u-btn-3 {
    margin-left: -14px;
    margin-right: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
    order: 1;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 324px;
    order: 2;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 15px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
    order: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 93px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}