.u-section-1 .u-sheet-1 {
  min-height: 114px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 400;
  margin: 23px 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -36px 918px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -58px 338px 53px auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 718px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 498px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-right: 318px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -48px;
    margin-right: 189px;
    margin-bottom: 22px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 90px;
    margin-right: auto;
    margin-left: 79px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -103px;
    margin-right: 118px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -26px;
    margin-right: 36px;
    margin-bottom: 59px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
} .u-section-2 {
  --color-var: #fe0000;
}

.u-section-2 .u-sheet-1 {
  min-height: 42px;
}

.u-section-2 .u-slider-1 {
  min-height: 49px;
  height: auto;
  width: 930px;
  margin: -7px 92px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 35px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 5px;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 14px 116px 0 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 8px 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 0 22px 0 0;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 12px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 109px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 7px 6px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 29px;
  height: 29px;
  left: 30px;
  position: absolute;
  right: auto;
  padding: 0;
}

.u-section-2 .u-carousel-control-2 {
  width: 29px;
  height: 29px;
  left: auto;
  position: absolute;
  right: 15px;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: -35px 1036px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 49px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 63px;
    width: 761px;
    margin-top: -14px;
    margin-right: 57px;
  }

  .u-section-2 .u-carousel-item-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-carousel-item-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-carousel-item-3 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-carousel-item-4 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 22px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 25px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 12px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin: -44px 818px 22px 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-2 .u-slider-1 {
    width: 612px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 1px 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 19px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin: -55px 604px 29px 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 38px;
    width: 448px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -1px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 14px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 7px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.75rem;
    margin-top: -35px;
    margin-right: 432px;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 50px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 9px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 4px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -69px;
    margin-right: 252px;
    margin-bottom: 42px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 662px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 37px;
  margin-bottom: 37px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 90px 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 83px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  font-weight: 400;
  margin: 37px auto 0 154px;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 443px;
  height: 576px;
  margin: -24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 21px;
    margin-left: 125px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-3 .u-image-1 {
    width: 371px;
    height: 488px;
    margin-right: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 625px;
  }

  .u-section-3 .u-image-1 {
    width: 359px;
    height: 472px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 5px;
    margin-bottom: 29px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 51px;
    margin-left: 177px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-3 .u-image-1 {
    width: 338px;
    height: 414px;
    margin-top: -17px;
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 382px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 312px;
    order: 0;
  }

  .u-section-3 .u-image-1 {
    height: 312px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 10px;
    margin-bottom: -12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1 {
  border-color: transparent !important;
}.u-section-4 .u-sheet-1 {
  min-height: 332px;
}

.u-section-4 .u-tabs-1 {
  min-height: 303px;
  height: auto;
  margin-top: 0;
  margin-bottom: 29px;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
  --active-color-var: #fe0000;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
  --active-color-var: #fe0000;
}

.u-section-4 .u-tab-link-3 {
  font-size: 1.25rem;
  --active-color-var: #fe0000;
}

.u-section-4 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  font-weight: 400;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -32px auto 0;
  padding: 0;
}

.u-section-4 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-accordion-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-1 {
  font-size: 1.5rem;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

.u-section-4 .u-accordion-link-2 {
  font-size: 1.5rem;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 17px;
}

.u-section-4 .u-text-3 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-accordion-link-3 {
  font-size: 1.5rem;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 166px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-tab-pane-3 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 291px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 336px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-4 .u-tabs-1 {
    margin-top: 57px;
    margin-bottom: 40px;
  }

  .u-section-4 .u-tab-link-1 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-tab-link-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-tab-link-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-3 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 452px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 39px;
    margin-left: 69px;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1011px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 85px 60px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: 824px;
  margin: 23px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1018px;
  margin: 81px auto 8px 56px;
}

.u-section-5 .u-image-1 {
  background-image: url("images/reparacion-de-lavadoras.webp");
  min-height: 302px;
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 24px auto 0;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  margin: 7px 27px 0 33px;
}

.u-section-5 .u-text-4 {
  font-style: normal;
  margin: 0 27px 0 33px;
}

.u-section-5 .u-image-2 {
  min-height: 302px;
  background-image: url("images/reparacion-de-frigorificos-y-congeladores.webp");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-5 .u-container-layout-3 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 373px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-5 .u-text-5 {
  text-transform: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-style: normal;
  margin: 27px 0 0;
}

.u-section-5 .u-image-3 {
  background-image: url("images/tecnicobsas-servicio-tecnico-hornos-electricos-service-a-domicilio-buenos-aires-argentina-001.jpg");
  min-height: 373px;
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-5 .u-container-layout-5 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 373px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 23px auto 0;
}

.u-section-5 .u-text-7 {
  text-transform: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-8 {
  font-style: normal;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 279px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 279px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 14px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 14px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-2 {
    min-height: 279px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 344px;
  }

  .u-section-5 .u-image-3 {
    min-height: 344px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 98px;
    margin-bottom: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 287px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -7px;
    margin-right: -7px;
    margin-left: 7px;
  }

  .u-section-5 .u-image-2 {
    min-height: 287px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 417px;
  }

  .u-section-5 .u-image-3 {
    min-height: 417px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 417px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2749px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 646px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-5 .u-image-2 {
    min-height: 646px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 264px;
    order: 2;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 506px;
    order: 1;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 267px;
    order: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2308px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 407px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 233px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 407px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 290px;
  }

  .u-section-5 .u-image-3 {
    min-height: 367px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 293px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 986px;
}

.u-section-6 .u-text-1 {
  width: 209px;
  margin: 41px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1130px;
  margin: 56px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 767px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 25px 0;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px auto 0;
}

.u-section-6 .u-btn-1 {
  font-size: 1.5rem;
  font-weight: 400;
  transition-duration: 0.5s;
  margin: 25px auto 0 166px;
  padding: 0;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 37px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 19px 36px 0;
}

.u-section-6 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 28px 153px 0 auto;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  line-height: 2;
  margin: 20px 18px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 767px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 809px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 103px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-text-5 {
    width: 184px;
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-6 .u-text-6 {
    margin-top: 23px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 638px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 1018px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 30px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 489px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1598px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 21px;
    margin-left: 175px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-text-5 {
    width: 359px;
    margin-top: 22px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 34px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 681px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1651px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 77px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin: 28px auto 21px -11px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 935px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 24px;
    margin-left: 69px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 28px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-text-5 {
    width: 264px;
    margin-top: 52px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 53px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 502px;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-btn-1 {
  border-color: transparent !important;
}