.u-section-1 .u-sheet-1 {
  min-height: 117px;
}

.u-section-1 .u-text-1 {
  margin: 24px 918px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: none;
  margin: -44px 419px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  font-weight: 400;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -33px 113px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -36px 279px 39px auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-right: 718px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -41px;
    margin-right: 311px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -36px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -38px;
    margin-right: 182px;
    margin-bottom: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 498px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -46px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -34px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -39px;
    margin-right: 177px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-right: 318px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -49px;
    margin-left: 195px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -28px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: -33px;
    margin-right: 159px;
    margin-bottom: 55px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 25px;
    margin-right: 118px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: -41px;
    margin-right: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 92px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -53px;
    margin-right: 14px;
    margin-bottom: 42px;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
} .u-section-2 {
  --color-var: #db545a;
}

.u-section-2 .u-sheet-1 {
  min-height: 42px;
}

.u-section-2 .u-slider-1 {
  min-height: 49px;
  height: auto;
  width: 930px;
  margin: -7px 92px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 35px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 22px 0 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 5px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 14px 116px 0 0;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 12px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 0 109px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 7px 6px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 29px;
  height: 29px;
  left: 30px;
  position: absolute;
  right: auto;
  padding: 0;
}

.u-section-2 .u-carousel-control-2 {
  width: 29px;
  height: 29px;
  left: auto;
  position: absolute;
  right: 15px;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: -35px 1036px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 49px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 63px;
    width: 761px;
    margin-top: -14px;
    margin-right: 57px;
  }

  .u-section-2 .u-carousel-item-1 {
    margin-top: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-carousel-item-2 {
    margin-top: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-carousel-item-3 {
    margin-top: initial;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-2 .u-carousel-item-4 {
    margin-top: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 22px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 25px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 12px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin: -44px 818px 22px 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-2 .u-slider-1 {
    width: 612px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 1px 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 19px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin: -55px 604px 29px 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 48px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 38px;
    width: 448px;
    margin-top: 1px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -1px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 14px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 7px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.75rem;
    margin-top: -35px;
    margin-right: 432px;
    margin-bottom: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 50px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 9px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 4px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -69px;
    margin-right: 252px;
    margin-bottom: 42px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 715px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 82px 90px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 21px 83px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 83px 0 144px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: -29px 425px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 590px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 443px;
  height: 576px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -44px 50px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 100%;
    margin: 29px 0 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 78px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: 0;
    margin-left: 151px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 356px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-3 .u-image-1 {
    width: 366px;
    height: 470px;
    margin-top: -25px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 35px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 19px;
    margin-right: 19px;
    margin-left: 145px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 238px;
  }

  .u-section-3 .u-image-1 {
    height: 492px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1098px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 18px;
    margin-right: 201px;
    margin-left: 130px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -25px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 3px;
  }

  .u-section-3 .u-image-1 {
    height: 594px;
    margin-top: -25px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 540px;
    order: 1;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 10px;
    margin-left: 128px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 38px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 368px;
    order: 0;
  }

  .u-section-3 .u-image-1 {
    height: 388px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 401px;
}

.u-section-4 .u-tabs-1 {
  min-height: 369px;
  height: auto;
  margin-top: 3px;
  margin-bottom: 29px;
}

.u-section-4 .u-tab-link-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-tab-link-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-tab-link-3 {
  font-size: 1.25rem;
}

.u-section-4 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-accordion-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-1 {
  font-size: 1.5rem;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 163px;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-accordion-link-2 {
  font-size: 1.5rem;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 163px;
  height: auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 17px;
}

.u-section-4 .u-text-2 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-3 {
  margin: -28px 255px 0 auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-4 .u-accordion-link-3 {
  font-size: 1.5rem;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 163px;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: -28px 399px 0 auto;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-4 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 1.5rem;
  transition-duration: 0.5s;
  font-weight: 400;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: -32px auto 0;
  padding: 0;
}

.u-section-4 .u-tab-pane-3 {
  margin-right: 0;
  margin-left: 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-4 .u-tabs-1 {
    min-height: 270px;
    margin-top: 0;
    margin-bottom: 23px;
  }

  .u-section-4 .u-accordion-pane-2 {
    min-height: 176px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: auto;
    margin-left: 104px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -29px;
    margin-right: auto;
    margin-left: 229px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -3px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-4 .u-tabs-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-4 .u-accordion-pane-2 {
    min-height: 205px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 102px;
  }

  .u-section-4 .u-accordion-pane-3 {
    min-height: 233px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 29px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-bottom: -8px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 20px;
    margin-left: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-tabs-1 {
    min-height: 328px;
    margin-top: 39px;
    margin-bottom: 39px;
  }

  .u-section-4 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-4 .u-accordion-link-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-accordion-link-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 21px 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
    margin-bottom: -9px;
    margin-left: 0;
  }

  .u-section-4 .u-accordion-link-3 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin: -25px 0 0 auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 24px;
    margin-left: 169px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-accordion-pane-3 {
    min-height: 314px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-5 {
    margin: 1px auto -26px 10px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 13px;
    margin-left: 69px;
  }
}

.u-section-4 .u-btn-3,
.u-section-4 .u-btn-3:before,
.u-section-4 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-3 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-3.u-btn-3.u-btn-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-btn-3 {
  border-color: transparent !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 837px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 85px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: 824px;
  margin: 27px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1094px;
  margin: 77px auto 50px;
}

.u-section-5 .u-image-1 {
  min-height: 388px;
  background-position: 50% 50%;
  background-image: url("images/reparacion-de-calderas-y-calentadores2.webp");
  background-size: cover;
}

.u-section-5 .u-container-layout-1 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 388px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 23px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-4 {
  font-style: normal;
  margin: 27px 0 0;
}

.u-section-5 .u-image-2 {
  min-height: 388px;
  background-position: 50% 50%;
  background-image: url("images/reparacion-de-aire-acondicionado2.webp");
  background-size: cover;
}

.u-section-5 .u-container-layout-3 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 388px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 13px 0;
}

.u-section-5 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  color: rgb(219, 84, 90) !important;
  margin: 23px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 6px 17px 0;
}

.u-section-5 .u-text-6 {
  font-style: normal;
  margin: 13px 0 0 17px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 333px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-5 .u-image-2 {
    min-height: 333px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 333px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 258px;
    order: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 446px;
    order: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 446px;
    order: 2;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 446px;
    order: 3;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2044px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 63px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 581px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 506px;
    order: 3;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 267px;
    order: 2;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1837px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 63px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 39px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 372px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 295px;
  }

  .u-section-5 .u-image-2 {
    min-height: 376px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 14px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 637px;
}

.u-section-6 .u-text-1 {
  width: 209px;
  margin: 63px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 397px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 56px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  width: auto;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 397px;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 24px 30px;
}

.u-section-6 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 10px auto 0 128px;
}

.u-section-6 .u-text-6 {
  margin: 20px 12px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-6 .u-btn-3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0 56px;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 59px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 102px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 84px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 27px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 484px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 98px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}