 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/servicio-tecnico-de-reparaciones-de-electrodomesticos.webp');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 477px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 179px 2px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 90px 662px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 63px;
    margin-right: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 134px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 128px;
    margin-right: 277px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 179px;
    margin-left: 570px;
    margin-right: 570px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 63px;
    margin-right: 97px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 400px;
    margin-right: 400px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1094px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 577px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 50px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 5px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 577px;
  background-image: url("../images/reparacion-de-lavadoras1.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 11px 30px;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 40px 0 0;
}

.u-section-2 .u-text-6 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-2 .u-btn-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto;
  padding: 12px 30px 12px 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-bottom: -8px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1395px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 818px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 26px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-2 .u-text-3 {
    margin: 14px 4px 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 817px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: -1px;
    margin-right: -1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1669px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 399px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 18px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 577px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 86px;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 542px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 19px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 409px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-top: 43px;
    margin-right: -4px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 50px;
    margin-bottom: 42px;
  }
} .u-section-3 {
  min-height: 68px;
}

.u-section-3 .u-group-1 {
  height: auto;
  min-height: 48px;
  --color-var: #f50610;
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 10px 0 0 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-top: 0;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 19px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 7px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 63px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 92px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 0;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/tecnico-de-reparacion-de-electrodomesticos.webp');
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 389px;
}

.u-section-4 .u-list-1 {
  margin: 72px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 257px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  --gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px;
}

.u-section-4 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 13px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 13px;
}

.u-section-4 .u-text-3 {
  font-size: 3.75rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px;
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 13px;
}

.u-section-4 .u-text-5 {
  font-size: 3.75rem;
  margin: 30px 0 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 212px;
    grid-gap: 10px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 487px;
    grid-auto-columns: 100%;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 619px;
}

.u-section-5 .u-text-1 {
  width: 814px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 40px;
  margin-bottom: -27px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 353px;
  --gap: 30px;
  grid-auto-columns: calc(50% - 15px);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-5 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  margin: -79px 0 0 121px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-5 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  margin: -79px 0 0 121px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-5 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  margin: -79px 0 0 121px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-5 .u-group-4 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  margin: -79px 0 0 121px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 30px;
    min-height: 291px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-group-1 {
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-group-2 {
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-group-3 {
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-group-4 {
    margin-left: auto;
  }

  .u-section-5 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 403px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  margin: 63px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 99px;
  width: 792px;
  margin: 75px auto 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: -19px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  --gap: 0px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
  --effect-scale: 1.25;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-1 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
  --effect-scale: 1.25;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-2 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
  transition-duration: 4s;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-3 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-4 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-5 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-6 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-7 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-7 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-8 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-8 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-9 {
  margin-right: 0;
  transition-duration: 4s;
}

.u-section-6 .u-back-slide-9 {
  transition-duration: 3s;
}

.u-section-6 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 56px;
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-6 .u-gallery-1 {
    height: 111px;
    width: 767px;
    margin-top: 48px;
  }

  .u-section-6 .u-carousel-item-4 {
    --effect-scale: 1.25;
  }

  .u-section-6 .u-carousel-item-5 {
    --effect-scale: 1.25;
  }

  .u-section-6 .u-carousel-item-6 {
    --effect-scale: 1.25;
  }

  .u-section-6 .u-carousel-item-7 {
    --effect-scale: 1.25;
  }

  .u-section-6 .u-carousel-item-8 {
    --effect-scale: 1.25;
  }

  .u-section-6 .u-carousel-item-9 {
    --effect-scale: 1.25;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-6 .u-gallery-1 {
    height: 94px;
    width: 590px;
    margin-top: 51px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    height: 91px;
    width: 484px;
    margin-top: 69px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: -50px;
    right: auto;
  }

  .u-section-6 .u-carousel-control-2 {
    left: auto;
    right: -45px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 66px;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 1.875rem;
  }

  .u-section-6 .u-gallery-1 {
    height: 118px;
    width: 248px;
    margin-top: 59px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: -60px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: -50px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 643px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 36px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 397px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 24px 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 10px auto 0 128px;
}

.u-section-7 .u-text-2 {
  margin: 20px 12px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-7 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px auto 0 56px;
  padding: 17px 49px 17px 47px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 397px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  width: auto;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 397px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 56px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 119px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 40px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 102px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 14px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 314px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
    width: auto;
  }

  .u-section-7 .u-btn-3 {
    margin-left: -14px;
    margin-right: -14px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
    order: 1;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 324px;
    order: 2;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 15px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
    order: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-7 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 93px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 397px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 624px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  margin: 71px auto 0;
}

.u-section-8 .u-map-1 {
  height: 456px;
  margin-top: 23px;
  margin-bottom: 22px;
}